:root {
    --primary-color: #2d2d2d;
    --secondary-color: #4a4a4a;
    --accent-color: #007bff;
    --text-color: #333;
}

.navbar{
    background-color:white;
    padding: 20px 10px 5px 5px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 400;
    justify-content: space-between;

}

.navbar > .nav-buttons > a{
    padding-left: 10vw;
    text-decoration-style: unset
}

.navbar > .nav-buttons > .connect-btn{
    margin-left: 10vw;
}